@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'bbc_reith_sansmedium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bbcreithsans_a_md-webfont.woff2') format('woff2'),
    url('../fonts/bbcreithsans_a_md-webfont.woff') format('woff');
}
