$main-margin: 121px;
$max-width: 1442px;

$main-text-size: 17px;
$header-text-size: 48px;

$border-link-width: 2px;

$main-font: 'Noto Sans', sans-serif;
$header-font: 'bbc_reith_sansmedium', sans-serif;

$text-color: #45494f;
$header-color: #1652ac;
$active-link-color: #2e75ff;
$gradient: linear-gradient(
  90deg, rgba(255, 54, 58, 1) 10%,
  rgba(138, 59, 184, 1) 60%,
  rgba(54, 54, 255, 1) 93%
);

$transition-duration: 0.3s;

$numbers: (
  1: '①',
  2: '②',
  3: '③',
  4: '④',
  5: '⑤',
  6: '⑥',
  7: '⑦',
  8: '⑧',
  9: '⑨',
  10: '⑩',
  11: '⑪',
  12: '⑫',
  13: '⑬',
  14: '⑭',
);
