.heading {
  max-width: $max-width;

  &__wrapper {
    @include flex-space-around;
    margin: 80px 2.5% 0;
    max-width: 100%;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }

  &__title {
    color: $header-color;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.3px;
    font-family: $header-font;
  }

  &__line {
    height: 7px;
    margin-top: 55px;
    width: 227px;

    background-color: #edeff3;
  }

  &__text {
    max-width: 500px;
    margin-top: 55px;

    letter-spacing: -0.4px;
    font-weight: 600;
    line-height: 32px;
  }
}

@media screen and (max-width: 1100px) {
  .heading {
    &__wrapper {
      width: 95%;
      margin: 80px 2.5% 0;
    }

    &__title {
      font-size: 36px;
    }

    &__text {
      width: 400px;
    }

    &__photo {
      width: 550px;
      transform: translateY(-40px);
    }
  }
}

@media screen and (max-width: 999px) {
  .heading {
    &__wrapper {
      margin: 80px 2.5% 0;
    }

    &__photo {
      width: 550px;
    }

    &__text {
      width: 350px;
      line-height: 26px;
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 899px) {
  .heading {
    &__wrapper {
      margin: 80px 12.5% 0;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__title {
      line-height: 36px;
    }

    &__text {
      margin-top: 20px;
    }

    &__line {
      margin-top: 20px;
    }

    &__photo {
      height: 300px;
      transform: translateY(-40px);
      width: 350px;
    }
  }
}

@media screen and (max-width: 799px) {
  .heading {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin: 56px 0;
      width: 100%;
    }

    &__title {
      line-height: 48px;
      letter-spacing: 1px;
      text-align: center;
    }

    &__text {
      transform: translateY(275px);
    }

    &__line {
      margin: 20px auto;
    }

    &__line:last-child {
      display: none;
    }

    &__photo {
      width: 0%;
      transform: translateY(-175px);
    }

    &__photo {
      width: 354px;
      object-position: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .heading {
    margin: 0;

    &__main {
      align-items: center;
    }

    &__title {
      font-size: 34px;
    }

    &__text {
      width: 340px;
    }
  }
}

@media screen and (max-width: 320px) {
  .heading {
    &__title {
      font-size: 28px;
    }

    &__text {
      width: 320px;
      transform: translateY(295px);
      text-align: center;
    }
  }
}
