.nav {
  position: relative;
  user-select: none;

  .nav__list {
    position: relative;
  }

  &__item {
    display: inline-block;
    position: relative;
    order: -1;

    &--active {
      order: 1;
    }
  }

  .nav__item .nav__list--vector {
    order: 2;
  }

  &__link {
    color: $text-color;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 4px 17px;
    line-height: 20px;
    transition: border $transition-duration ease;

    &:hover {
      border: 2px solid #eaedf5;
      color: $active-link-color;
      cursor: pointer;

      &:hover > .nav__link-icon {
        background-image: url('../images/Vector_colored.svg');
      }
    }

    &-icon {
      transform: translate(2px, -2px);
    }

    &--vector {
      padding: 3px 13px 4px 8px;
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    position: absolute;
    display: none;
    top: 0;
    left: 0;

    &__list {
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      background-color: #fff;
      width: 100vw;
    }
  
    &__item {
      margin-top: 10px;
    }

    &__link {
      padding: 3px;
    }
  }
}
