.popup {
  width: calc(100% - 40px);
  position: absolute;
  top: 120%;
  left: 0%;
  display: none;
  
  // border-bottom: 2px solid #eaedf5;
  // border-right: 2px solid #eaedf5;
  // border-left: 2px solid #eaedf5;
  // border-radius: 0 0 8px 8px;
  // background-color: #fff;

  &--hidden {
    display: block;
  }

  &__link {
    display: flex;
    justify-content: left;
    padding: 17px;
  
    // border-bottom: $border-link-width solid #eaedf5;
    border-radius: 8px;
    color: $text-color;

    &:hover {
      color: $active-link-color;
      cursor: pointer;
    }
  }

  &-hide {
    display: none;
  }
}
