.standart {
  &__wrapper {
    @include flex;
    margin-top: 100px;
    color: #fbfdff;
  }

  &__photo {
    width: 545px;
  }

  &__info {
    @include flex;
    flex-direction: column;
    height: 729px;
    width: 65%;
    background-color: #123c9d;
  }

  &__column {
    width: 496px;
  }

  &__title {
    text-align: left;
    font-family: $header-font;
    font-weight: 700;
    line-height: 40px;
    font-size: 20px;
    letter-spacing: 2.42px;
  }

  &__text {
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .standart {
    &__column {
      width: 350px;
    }
  }
}

@media screen and (max-width: 999px) {
  .standart {
    &__title {
      font-size: 18px;
      letter-spacing: 2.42px;
    }

    &__info {
      height: 595px;
    }

    &__photo {
      width: 445px;
      height: 100%;
      align-self: start;
    }

    &__text {
      font-weight: 400;
      line-height: 24px;
      margin-top: 30px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 899px) {
  .standart {
    &__photo {
      width: 345px;
      height: 100%;
    }

    &__info {
      height: 461px;
    }
  }
}

@media screen and (max-width: 799px) {
  .standart {
    &__wrapper {
      flex-direction: column;
    }

    &__photo {
      width: 100%;
    }

    &__info {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .standart {
    &__title {
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
    }

    &__info {
      height: max-content;
    }

    &__column {
      width: 320px;
    }

    &__text {
      width: 280px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
