@import "./reset";
@import "./typography";
@import "./vars";
@import "./_mixins";
@import "./header";
@import "./nav";
@import "./popup";
@import "./burger";
@import "./heading";
@import "./energy";
@import "./standart";
@import "./doubleline";
@import "./cards";
@import "./benefits";
@import "./slider";

body {
  font-family: $main-font;
  font-size: $main-text-size;
  color: $text-color;
}
